*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$white: #ffffff;
$transpBlack: rgba(0, 0, 0, 0.6);

$weatherStatus: 'clear', 'clouds', 'snow', 'rain', 'mist', 'dust', 'drizzle', 'smoke', 'haze','fog', 'sand', 'ash', 'squall', 'tornado';

@each $status in $weatherStatus{
  body #app.#{$status}{
    background-image: url('./assets/#{$status}-bg.jpg');
  }
}

$default: #16db93;
$very-cold: #9d4edd;
$cold: #4cc9f0;
$medium: $default;
$hot: #ffdd00;
$very-hot: #f46036;
$very-very-hot: #ff0a54;
$tempStatusClasses: very-cold cold medium hot very-hot very-very-hot;
$tempStatusColors: (very-cold:$very-cold, cold:$cold, medium:$medium, hot:$hot, very-hot:$very-hot, very-very-hot:$very-very-hot);

@each $class in $tempStatusClasses{
  body #app main .meteo-wrap .meteo-ctnr .temp div #number.#{$class}{
    color : map-get($tempStatusColors, #{$class});
    text-shadow: 0 0 30px rgba(map-get($tempStatusColors, #{$class}), 0.3);
  }
}

body{
  font-family: 'Poppins', sans-serif;

  #app {
    background-image : url('./assets/default-bg.jpg');
    background-size : cover;
    background-position : bottom;
    transition : 400ms;

    main {
      min-height : 100vh;
      padding : 25px;
      background-image : linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));

      .search-ctnr {
        width : 100%;
        margin-bottom : 15px;

        .search-bar{
          display : block;
          max-width: 450px;
          width: 100%;
          margin: 0 auto;
          padding : 15px;
          color : #313131;
          font-size : 20px;
          appearance : none;
          border : none;
          outline : none;
          background : none;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
          background-color : rgba(255, 255, 255, 0.5);
          border-radius : 0px 16px 0px 16px;
          transition : 400ms;

          &::placeholder{
            color: #404040;
          }

          &:focus{
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
            background-color : rgba(255, 255, 255, 0.75);
            border-radius: 16px 0px 16px 0px;
          }

        }
      }

      .meteo-wrap{
        background-color: $transpBlack;
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
        border-radius: 16px;
        padding: 15px 20px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

        hr{
          width: 100%;
          margin: 15px auto 25px auto;
          background-color: $white;
          height: 0.2px;
          border: none;
        }

        .loc-ctnr{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          .loc{
            color : $white;
            font-size : 32px;
            line-height: 36px;

            .city{
              text-transform: uppercase;
              font-weight : 600;
            }

            .country{
              padding-left: 7px;
              font-weight: 200;
            }
          }

          .date{
            color : $white;
            font-size : 18px;
            font-weight : 200;
            text-align: right;
            padding-left: 25px;
            padding-top: 10px;
            align-self: flex-end;
          }

        } /*loc-ctnr*/

        .meteo-ctnr{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          min-height: 140px;

          .temp{
            transition-duration: 400ms;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            position: relative;
            padding-left: 25px;

            div{
              position: absolute;
              top: -28px;
              left: 0;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;

              #number{
                font-family: 'Cabin', sans-serif;
                font-size : 134px;
                font-weight: 700;
              }

              #celsius{
                font-size: 30px;
                font-weight: 600;
                padding-left: 4px;
                padding-top: 26px;
                color: $white;

              }
            }


          }

          .meteo{
            color : #ffffff;
            font-size: 22px;
            font-weight: 200;
            text-transform: capitalize;
            max-width: calc(100% - 160px);
            text-align: right;
            align-self: center;
            padding-bottom: 25px;
            line-height: 28px;
            hyphens: auto;
          }

          .icon-ctnr{
            display: block;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            border: 1px solid $white;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 100px;
            position: relative;

            .icon{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }

          }


        } /*meteo-ctnr*/

        .more-info{
          color: $white;
          font-size: 18px;
          font-weight: 300;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
          width: 100%;
          display: flex;
          justify-content: flex-start;

          table{
            text-align: left;

            td{
              padding: 0 10px;

              &.info-value{
                font-size: 22px;

                .value{
                  font-weight: 600;
                  width: 130px;
                }

                .unit{
                  font-weight: 200;
                }
              }

              &.info-desc{
                font-size: 14px;
                text-transform: uppercase;
              }
            }
          }
        } /*more-info*/
      }
    }
  }
}
